<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BasicServlet</servlet-name>
        <servlet-class>net.diehard.sample.todowebsite.BasicServlet</servlet-class>
        <init-param>
            <param-name>InitParam</param-name>
            <param-value>InitValue</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>OkServlet</servlet-name>
        <servlet-class>net.diehard.sample.todowebsite.OkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/BasicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OkServlet</servlet-name>
        <url-pattern>/healthz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <distributable id="eno-todo" />
</web-app>
